<div class="container">
  <h2 class="h2">Event</h2>

  <%= render "event", event: @event %>

  <br/>

  <% if user_signed_in? && has_available_seats %>
      <%= button_to 'Buy ticket', new_event_ticket_path(@event), :method => :get, :class => "btn btn-primary" %>
  <% elsif has_available_seats %>
      <div class="alert alert-warning">Please login first if you wish to purchase a ticket.</div>
  <% else %>
      <div class="alert alert-danger">There are no available seats left.</div>
  <% end %>

  <h2 class="h2">Current tickets</h2>

  <%= render "tickets/ticket_list", tickets: @event.tickets %>

  <hr/>

  <%= button_to 'Back', events_path, :method => :get, :class => "btn" %>

</div>